<div class="row">
    <div class="col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="card-title">{{tituloPagina}}</h4>
            </div>
            <!-- ============================================================== -->
            <!-- Carros -->
            <!-- ============================================================== -->
            <div class="row el-element-overlay" >
                <div class="col-lg-2 col-md-6" *ngFor="let item of lista; let i = index">
                    <div class="card" [routerLink]="['carro/'+ item.identificador + '']" >
                        <div class="el-card-item">
                            <div class="el-card-avatar el-overlay-1">
                                <img src="assets/images/gallery/{{item.imagem}}" width="80%" alt="Carros" />
                            </div>
                            <div class="d-flex no-block align-items-center">
                                <div class="m-l-15">
                                    <h4 class="m-b-0">{{item.descricao}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>