
.ng-select.custom {
  font-size: 1.09375rem!important;
  line-height: 1.50!important;
  color: #495057!important;
  background-color: #fff!important;
  background-image: none!important;
  background-clip: padding-box!important;
/*  border: 1px solid rgba(0,0,0,.15)!important; */
  min-height: 0px!important;
  border-radius:  .25rem!important;
  padding: .0rem .0rem !important;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
}


.ng-select.custom .ng-select-container  {
  min-height: 0px;
  height: 50px;
  border-radius: 0;
}



.ng-select.form-control-sm {
padding: 0px 0px !important;
}


.form-control.ng-invalid:not(.ng-pristine) {     border-left:5px solid red; }

th {
  vertical-align: middle !important
}
td {
  vertical-align: middle !important
}


#infinite-scroller {
  height: 400px;
  overflow-y: scroll
}
