<div class="row">
    <div class="col-sm-12 col-lg-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="card-title">{{tituloPagina}}</h4>
            </div>

            <!-- row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-title">{{modelEdit.descricao}}</h1>
                            <div class="row">
                                <div class="col-sm-6">
                                    <form [formGroup]="formDados" class="md-float-material">
                                        <div class="form-group col-sm-3 form-control-label-lg">
                                            <label for="placa" style="font-size: 25px;">Placa</label>
                                            <input type="text" class="form-control form-control-lg" id="placa"
                                                formControlName="placa" placeholder="Placa">
                                        </div>
                                        <div class="form-group col-sm-8 form-control-label-lg">
                                            <label for="idmodelo" style="font-size: 25px;">Modelo</label>


                                            <ng-select [searchable]="false" [items]="listaModelo"
                                                class="custom form-control-lg " (change)="getRevisaoPorModelo($event);"
                                                bindLabel="descricao_modelo" bindValue="mod_cd"
                                                formControlName="modelo">
                                            </ng-select>


                                        </div>
                                        <div class="form-group col-sm-8 form-control-label-lg">
                                            <label for="idrevisao" style="font-size: 25px;">Revisão</label>

                                            <ng-select [searchable]="false" [items]="listaRevisao"
                                            (change)="changeRevisao($event)"

                                                class="custom form-control-lg " bindLabel="descricao_kit"
                                                bindValue="codigo_kit" formControlName="revisao">
                                            </ng-select>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-6 text-center align-self-center" *ngIf="modelEdit.imagem">
                                        <img src="assets/images/gallery/{{modelEdit.imagem}}" width="80%"
                                            alt="Carros" />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <div class="form-group m-b-0 text-right">
                                <button type="button" class="btn btn-info btn-lg waves-effect waves-light"
                                    (click)="gotoBack()">Voltar</button>
                                <button type="button" [routerLink]="getUrl()"
                                    class="btn btn-primary btn-lg waves-effect waves-light">Continuar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row -->


        </div>
    </div>
</div>