 
            
 <!-- Row -->
<div class="row justify-content-md-center">
    <div class="col-lg-4">
        <div class="card ">
            <div class="card-header bg-info">
                <h2 class="card-title text-white">Completo para a Placa : {{ dadosarrayRevisao["placa"]}}</h2>
                <h4 class="card-title text-white" *ngIf="dadasRevisao">{{ dadasRevisao["descricao_kit"]}} - {{ dadasModel["descricao_modelo"]}}</h4>
            </div>
            <form  [formGroup]="formDados"   class="form-horizontal">
                <div class="form-body">

                        <div class="col-lg-12 ">
                            <div class="form-group">
                                <input type="hidden"  formControlName="item_teste" id="item_teste"  >

                                <div *ngFor="let item of listaPecasObrigatorio; let i = index"  
                                [class.selected]="((item.camposAuxiliares['marcado'] === 'S') )"
                                class="list-group-item list-group-item-action border-left-0 border-right-0 flex-column">
                                <div class="d-flex">
                    
                                    <div class="pl-3">
                                        <div class="d-flex w-100 justify-content-between align-items-center">
                                          
                                                <i [ngClass]="(item.obrigatorio === 'S' ? ' fas fa-certificate' :
                                                ( ( item.camposAuxiliares['marcado'] === 'S' &&  item.obrigatorio === 'N' ) ?  '  fa-check-circle' : 
                                                '    far fa-circle'  ) )"
                                                    class="far      m-r-5 font-18"></i>{{item.descricao}}
                                           
                    
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                            <p class="mb-0 font-20 text-right"  style="font-weight: bold;padding:10px"  *ngIf="listaPecasAdicional.length>0">Valor R$ : {{listaPecasObrigatorio[0]["preco_kit"]  | number: "1.0-2" }} </p>
                                <div *ngFor="let item of listaPecasAdicional; let i = index" (click)="onSelect(i)"
                                    [class.selected]="((item.camposAuxiliares['marcado'] === 'S') )"
                                    class="list-group-item list-group-item-action border-left-0 border-right-0 flex-column">
                                    <div class="d-flex">
                        
                                        <div class="pl-3">
                                            <div class="d-flex w-100 justify-content-between align-items-center">
                                              
                                                    <i [ngClass]="(item.obrigatorio === 'S' ? ' fas fa-certificate' :
                                                    ( ( item.camposAuxiliares['marcado'] === 'S' &&  item.obrigatorio === 'N' ) ?  '  fa-check-circle' : 
                                                    '    far fa-circle'  ) )"
                                                        class="far      m-r-5 font-18"></i>{{item.descricao}} [<strong> R$ {{item.valor_venda * item.camposAuxiliares["qtde"]  | number: "1.2-2"}}]</strong>
                                               
                        
                                            </div>
                                            <p class="mb-0 font-14 "> </p>
                                        </div>
                                    </div>
                                </div> 
                                <p class="mb-0 font-20 text-right"  style="font-weight: bold;padding:10px" *ngIf="listaPecasObrigatorio.length>0">Valor R$ : {{totalAdicional  | number: "1.2-2" }} </p>
                                <p class="mb-0 font-20 text-right"  style="font-weight: bold;padding:10px" *ngIf="listaPecasObrigatorio.length>0">Total R$ : {{listaPecasObrigatorio[0]["preco_kit"]  + totalAdicional  | number: "1.2-2"}} </p>

                            </div>
                        </div>

 
                    <div class="form-actions">
                        <div class="card-body">
                            <div class="text-right">
                                    <button type="button" (click)="gotoBack()" class="btn btn-dark">Voltar</button>&nbsp;
                                <button type="button" class="btn btn-primary" (click)="InsereRevisaoOS()">Ordem de Serviço</button>&nbsp;
                                <button type="button" class="btn btn-info" (click)="InsereRevisaoOrcamento()">Orçamento</button>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

 
 
</div>
<!-- End Row -->

  