<div class="row" *ngIf="!ehdetalhe && false">

  <div class="col-sm-12">
    <div class="card bg-primary ">
      <div class="card-body">
        <h4 class="card-title text-white">Bem-vindo {{loginService.user.nome}}</h4>
        <h5 class="card-subtitle text-white op-2">Faturamento do dia <strong>{{item.camposAuxiliares["dataref_mes"] |
            date:'dd/MM' }}</strong></h5>
        <div class="row  ">
          <!-- col -->

          <!-- col -->
          <div class="col-sm-12 col-lg-12">
            <div class="row">
              <!-- col -->
              <div class="col-sm-12 col-md-3">
                <div class="info d-flex align-items-center">
                  <div class="m-r-10">
                    <i class="mdi mdi-basket text-white display-5  "></i>
                  </div>
                  <div>
                    <h3 class="text-white m-b-0">{{ (dados.qtd_diario | number:'1.0-0')}}</h3>
                    <span class="text-white  ">Vendas</span>
                  </div>
                </div>
              </div>
              <!-- col -->
              <!-- col -->
              <div class="col-sm-12 col-md-3">
                <div class="info d-flex align-items-center">
                  <div class="m-r-10">
                    <i class="mdi  mdi-currency-usd text-white display-5  "></i>
                  </div>
                  <div>
                    <h3 class="text-white m-b-0">{{ (dados.valor_diario | number:'1.0-0')}}</h3>
                    <span class="text-white ">Faturamento</span>
                  </div>
                </div>
              </div>
              <!-- col -->
              <!-- col -->
              <div class="col-sm-12 col-md-3">
                <div class="info d-flex align-items-center">
                  <div class="m-r-10">
                    <i class="mdi mdi-account-box text-white display-5 "></i>
                  </div>
                  <div>
                    <h3 class="text-white m-b-0">{{ (dados.ticket_diario | number:'1.0-0')}}</h3>
                    <span class="text-white  ">Ticket Medio</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-3" >
                <div class="  d-flex align-items-center" style="padding-top: 20px">
                  <button class="btn btn-sm " *ngIf="!diaMais" style="background-color: #ffffff;min-width: 120px" (click)="diaMostraMais()"  type="button"><i class="fas fa-plus"></i>&nbsp;Veja
                    Mais&nbsp; </button>
                    <button class="btn btn-sm " *ngIf="diaMais" style="background-color: #ffffff;min-width: 120px" (click)="diaMostraMais()"  type="button"><i class="fas fa-minus"></i>&nbsp;Veja
                      Menos&nbsp; </button>
                </div>


              </div>

            </div>
          </div>
        </div>

      </div>
    </div>


  </div>

  <div class="col-sm-12" *ngIf="diaMais" [@changeState2]="currentState2"

      (@changeState2.done)="animEnd($event)">
      <div class="card bg-primary ">
        <div class="card-body">
            <div class="row ">
                <div class="col-lg-6 ">
                  <app-faturamento-detalhamento subtitulo="Posição no dia" [principal]="itemDiario" [setTipoView]="'R$'" [datainicio]="item.camposAuxiliares['dataref_mes'] | date:'dd/MM/yyyy'"
                  [datafinal]="item.camposAuxiliares['dataref_mes'] | date:'dd/MM/yyyy' "></app-faturamento-detalhamento>
                </div>
                <div class="col-lg-6 ">
                    <app-faturamento-detalhamento subtitulo="Posição no dia" [principal]="itemDiario" [setTipoView]="'QTD'" [datainicio]="item.camposAuxiliares['dataref_mes'] | date:'dd/MM/yyyy'"
                    [datafinal]="item.camposAuxiliares['dataref_mes'] | date:'dd/MM/yyyy' "></app-faturamento-detalhamento>
                  </div>
                 </div>
                </div>
                </div>
                </div>
</div>

<div class="col-sm-12  bg-primary">
    <h3 style="padding: 10px">
        <b class="  card-title text-white ">{{item.camposAuxiliares["grupo_departamento"]}}</b>
      </h3>

</div>



<div class="row" [@changeState]="currentState">
  <div class="col-lg-3">
    <div class="card  " style="min-height: 390px!important" [ngClass]="{'bg-danger': item.valor < item.valor_ant_dia, 'bg-success':  item.valor >= item.valor_ant_dia}">
      <div class="card-body">

        <div class="d-md-flex align-items-center">
          <div>
            <h4 class="card-title text-white">{{dados.Titulo}}</h4>
            <h5 class="card-subtitle text-white">Mês <strong>(até {{item.camposAuxiliares["dataref_mes"] | date:'dd/MM'
                }})</strong></h5>
          </div>
          <div class="ml-auto d-flex no-block align-items-center">

            <button type="button" class="btn btn-sm bg-white" (click)='mudaVisao()' *ngIf="tipoView=='R$'">
              <i class=" fas fa-cubes"></i>&nbsp; <strong>Qtd</strong></button>

            <button type="button" class="btn btn-sm bg-white" (click)='mudaVisao()' *ngIf="tipoView=='QTD'">
              <i class=" fas fa-dollar-sign"></i>&nbsp; <strong>Faturamento</strong></button>
          </div>
        </div>

        <h2 class="  font-bold m-b-5 text-white">{{ dados.valor | number:'1.0-0' }} </h2>
        <span class="font-bold  text-white">{{ dados.percentual_diferenca | percent }} ({{ dados.valor_diferenca |
          number:'1.0-0'}})
          <i class="fas   font-bold" [ngClass]="{'fa-arrow-down': dados.valor_diferenca < 0, 'fa-arrow-up': dados.valor_diferenca > 0}"></i>
        </span>
        <hr>
        <span class="  text-white">{{dados.Titulo}} Mês Anterior <strong>(até {{item.camposAuxiliares["dataref_mesant"]
            | date:'dd/MM' }})</strong></span>
        <h3 class="font-bold   text-white">{{ dados.valor_ant | number:'1.0-0'}}</h3>
        <hr>
        <span class="  text-white">{{dados.Titulo}} Mês Anterior Total </span>
        <h3 class="font-bold  text-white ">{{ dados.mes_anterior | number:'1.0-0'}}</h3>
        <div ngbDropdown class="d-inline-block">
          <button [hidden]="ehdetalhe " class="btn btn-white btn-rounded waves-effect waves-light m-t-20" id="dropdownBasic1"
            ngbDropdownToggle>Detalhamento</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button (click)="mudaCardPadrao(item, '6')" class="dropdown-item ">Ultimos 6 meses</button>
            <button (click)="mudaCardPadrao(item, '12')" class="dropdown-item ">Ultimos 12 meses</button>
            <button (click)="mudaCardPadrao(item, 'A')" class="dropdown-item ">Analitico</button>
            <button (click)="mudaCardPadrao(item, 'E')" class="dropdown-item  ">Empresa</button>
            <button (click)="mudaCardPadrao(item, 'D')" class="dropdown-item  ">Departamento</button>

          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="col-lg-3">
    <div class="card  " style="min-height: 390px!important">
      <div class="card-body border-bottom">
        <h4 class="card-title">Resumo {{dados.Titulo}} do Mês</h4>
        <h5 class="card-subtitle">{{dados.Titulo}} <strong>(até {{item.camposAuxiliares["dataref_mes"] | date:'dd/MM' }})</strong></h5>

        <div class="row m-t-10 ">

          <!-- col -->
          <div class="col-sm-12 linhaResumo ">
            <div class="d-flex align-items-center">
              <div class="col-sm-4  ">
                <div class="m-r-15 iconsResumo" >
                  <span class="  display-6">
                    <i class="fas fa-crosshairs"></i>
                  </span>
                </div>
              </div>
              <div class="col-sm-8  ">
                <div>
                  <span class="text-muted">Meta</span>
                  <h3 class="font-medium m-b-0">{{ dados.meta | number:'1.0-0'}}</h3>
                </div>
              </div>
            </div>
          </div>
          <!-- col -->
          <!-- col -->
          <div class="col-sm-12 linhaResumo">
            <div class="d-flex align-items-center">
              <div class="col-sm-4  ">
                <div class="m-r-15 iconsResumo" >
                  <span class=" display-6">
                    <i class="fas  " [ngClass]="{'fa-cart-plus': tipoView === 'QTD','fa-dollar-sign': tipoView === 'R$' }"></i>
                  </span>
                </div>
              </div>
              <div class="col-sm-8  ">
                <div>
                  <span class="text-muted">{{dados.Titulo}}</span>
                  <h3 class="font-medium m-b-0">{{ dados.valor | number:'1.0-0'}} </h3>
                  <ngb-progressbar [striped]="true" showValue="true" height="15px" type="{{dados.cor_meta}}"
                    [value]="dados.percentual_meta"></ngb-progressbar>
                </div>
              </div>
            </div>
          </div>

          <!-- col -->
          <!-- col -->
          <div class="col-sm-12 linhaResumo" *ngIf="tipoView === 'R$'">
            <div class="d-flex align-items-center">
              <div class="col-sm-4  ">
                <div class="m-r-15 iconsResumo"  >
                  <span class="display-6 ">
                    <i class="fas fa-hand-holding-usd"></i>
                  </span>
                </div>
              </div>
              <div class="col-sm-8  ">
                <div>
                  <span class="text-muted">Ticket Medio</span>
                  <h3 class="font-medium m-b-0">{{ dados.ticket | number:'1.0-0'}} </h3>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-12 linhaResumo" *ngIf="tipoView === 'QTD'">
            <div class="d-flex align-items-center">
              <div class="col-sm-4  ">
                <div class="m-r-15 iconsResumo" >
                  <span class="display-6 ">
                    <i class="fas fa-crosshairs"></i>
                  </span>
                </div>
              </div>
              <div class="col-sm-8  ">
                <div>
                  <span class="text-muted">Meta diaria</span>
                  <h3 class="font-medium m-b-0">{{ dados.meta_diaria | number:'1.0-0'}} </h3>
                </div>
              </div>
            </div>
          </div>

          <!-- col -->
          <div class="col-sm-12 linhaResumo">
            <div class="d-flex align-items-center">
              <div class="col-sm-4  ">
                <div class="m-r-15  iconsResumo"  >
                  <span class="display-6  ">
                    <i class="fas fa-road  "></i>
                  </span>
                </div>
              </div>
              <div class="col-sm-8  ">
                <span class="text-muted">Projeção </span>
                <h3 class="font-medium m-b-0">{{ dados.projecao + dados.valor | number:'1.0-0'}}</h3>

                <ngb-progressbar [striped]="true" showValue="true" height="15px" type="{{dados.cor_projecao_meta}}"
                  [value]="dados.percentual_projecao_meta"></ngb-progressbar>

              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
  <!---- -->
  <div class="col-lg-6" >
    <app-faturamento-detalhamento [principal]="item" subtitulo="Posição até o dia" [setTipoView]="tipoView"></app-faturamento-detalhamento>
  </div>
  <!---  -->

</div>

<div class="row" [@changeState]="currentState" *ngIf="!ehdetalhe && false">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{dados.Titulo}} diario</h4>
        <h5 class="card-subtitle"> Periodo <strong>{{ this.subtituloGrafico }}</strong></h5>


        <div echarts [options]="opcoesGrafico2" style="height:400px"></div>
      </div>
    </div>
  </div>
</div>
