   <div class="card " [ngClass]="corCard">
    <div class="card-body">
      <h3 class="card-title text-white ">{{item.titulo}}</h3>
      <h3 class="text-white">
          {{item.unidade === 'P' ? (item.valor| percent ) : (item.valor  | number:'1.0-0')}} </h3>
      <br/>
      <div class="row">
        <div class="col-sm-12 col-lg-5"  *ngIf="carregouGrafico">
          <div echarts [options]="opcoesGrafico" style="height:200px"></div>
        </div>
        <div class="col-sm-12 col-lg-7">
          <div class="col-sm-12 col-lg-12 p-10">
            <div class="text-white text-right">
              <span class="font-16 op-5 d-block font-bold">Valor Anterior</span>
              <span class="font-18 font-bold">
                  {{item.unidade === 'P' ? (item.valor_ant| percent ) : (item.valor_ant  | number:'1.0-0')}} </span>
            </div>
          </div>
          <div class="col-sm-12 col-lg-12 p-10">
            <div class="text-white text-right">
              <span class="font-16 op-5 d-block font-bold">Meta</span>
              <span class="font-18 font-bold">
                  {{item.unidade === 'P' ? (  (item.meta ? item.meta : item.valor ) | percent ) : ( (item.meta ? item.meta : item.valor ) | number:'1.0-0')}} </span>
            </div>
          </div>
          <div class="col-sm-12 col-lg-12 p-10">
            <div class="text-white text-right">
              <span class="font-16 op-5 d-block font-bold">Meta Diaria</span>
              <span class="font-18 font-bold">
                  {{item.unidade === 'P' ? (  (item.metadiaria ? item.metadiaria : item.valor /22 ) | percent ) : (  (item.metadiaria ? item.metadiaria : item.valor /22 ) | number:'1.0-0')}} </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!--     <button (click)="mudaCardPadrao(item, 'R')" class="btn btn-white btn-rounded waves-effect waves-light m-t-20">Ultimos 6 meses</button>
    <button (click)="mudaCardPadrao(item, 'E')" class="btn btn-white btn-rounded waves-effect waves-light m-t-20">Empresa</button>
        <button (click)="mudaCardPadrao(item, 'D')" class="btn btn-white btn-rounded waves-effect waves-light m-t-20">Departamento</button> -->
        <div class="row">
            <div class="col">
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-white btn-rounded waves-effect waves-light m-t-20" id="dropdownBasic1" ngbDropdownToggle>Detalhamento</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button (click)="mudaCardPadrao(item, 'R')" class="dropdown-item ">Ultimos 6 meses</button>
                    <button (click)="mudaCardPadrao(item, 'E')" class="dropdown-item  ">Empresa</button>
                    <button (click)="mudaCardPadrao(item, 'D')" class="dropdown-item  ">Departamento</button>

                </div>
              </div>
            </div>

          </div>
      </div>
    </div>
  </div>

