 <div class="card card-body printableArea" *ngIf="jaCarregou"   >
    <h3>
        <b class="text-danger">{{titulo}}</b>
    </h3>
    <h4 class="col-md-12">
      <span class="pull-right"> ( Ultimos 6 Meses ) </span>

  </h4>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div echarts [options]="option5"></div>
            </div>

        <div class="col-md-12">
            <div class="table-responsive m-t-40" style="clear: both;">
                <table class="table v-middle">
                    <thead class="bg-info text-white">
                      <tr>
                        <th class="border-top-0 font-bold">Empresa</th>
                        <th class="border-top-0 font-bold">Departamento</th>
                        <th class="border-top-0 font-bold" *ngFor="let key of dadosRetornoRelatorio.cabecalho">{{key}} </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let dados of dadosRetornoRelatorio.dados">
                        <td class="font-medium">{{dados["empresa"]}} </td>
                        <td class="font-medium">{{dados["departamento"]}} </td>
                        <td class="font-medium" *ngFor="let keycampo of dadosRetornoRelatorio.campo ; let i = index">
                          <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                {{unidade === 'P' ? (dados.camposAuxiliares[keycampo]| percent ) : (dados.camposAuxiliares[keycampo]  | number:'1.0-0')}}
                            </div>
                            <div class="" *ngIf="i!=0"  >
                              <i class="mdi text-success" [ngClass]="((dados.camposAuxiliares[dadosRetornoRelatorio.campo[i]]*1) >= (dados.camposAuxiliares[dadosRetornoRelatorio.campo[i-1]]*1) )?'mdi-arrow-up  text-success':'mdi-arrow-down  text-danger'" data-toggle="tooltip" data-placement="top" title="Active"></i>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="col-md-12">
            <div class="text-right">
                <button class="btn btn-danger"   (click)="goBack()"  type="button"> Voltar </button>
            </div>
        </div>
    </div>
</div>
