<!--   -->
<div class="row">
  <div class="col-sm-12 col-lg-12">
    <div class="card">
      <div class="card-header bg-info">
        <h4 class="card-title">{{tituloPagina}}</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="filterForm" class="md-float-material">





          <div class="row">
            <div class="col-md-5">
              <div class="form-group input-group-sm">
                <label class="control-label col-form-label">Nome</label>

                <input type="text" id="cons_tx_nome" formControlName="cons_tx_nome" class="form-control form-control-sm" placeholder="Pesquisar por nome"
                  value="">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group input-group-sm">
                <label class="control-label col-form-label">Apelido</label>
                <input type="text" id="cons_tx_apelido" formControlName="cons_tx_apelido" class="form-control form-control-sm" placeholder="Pesquisar por apelido"
                  value="">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group input-group-sm">
                <label class="control-label col-form-label">CPF</label>
                <input type="text" id="cons_tx_cpf" formControlName="cons_tx_cpf" class="form-control form-control-sm" placeholder="Pesquisar por CPF"
                  value="">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group input-group-sm">
                <label class="control-label col-form-label">Sexo</label>
                <ng-select [searchable]="true" formControlName="cons_tx_sexo" class="custom">
                  <ng-option [value]="''">Todos</ng-option>
                  <ng-option [value]="'M'">Masculino</ng-option>
                  <ng-option [value]="'F'">Feminino</ng-option>
                </ng-select>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group input-group-sm">
                <label class="control-label col-form-label">E-mail</label>
                <input type="text" id="cons_tx_email" formControlName="cons_tx_email" class="form-control form-control-sm" placeholder="Pesquiar por e-mail"
                  value="">
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group input-group-sm">
                <label class="control-label col-form-label">Situação</label>
                <ng-select [searchable]="false" [items]="listaSituacao" class="custom"
                bindLabel="tx_situacao"   bindValue="situ_tx_situacao"  formControlName="situ_tx_situacao">
                </ng-select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group input-group-sm">
                <label class="control-label col-form-label" style="width:100%">&nbsp;</label>
                <button type="button" class="btn btn-mini btn-primary  " style="margin-left: 5px!important" (click)="pesquisaDados()">
                  <i class="icofont icofont-search"></i> Pesquisa</button>
                <button [routerLink]="['../consultor/0/new']" class="btn btn-mini btn-primary" style="margin-left: 5px!important" type="submit"
                  tabindex="0">
                  <i class="icofont icofont-check"></i> + Consultor</button>
              </div>
            </div>
          </div>

        </form>


          <div class="row" #cdire id="infinite-scroller"   appInfiniteScroller  scrollPerecnt="70"  [immediateCallback]="true" [scrollCallback]="scrollCallback"  >



              <div class="card border-info col-6"  *ngFor="let item of lista">
                <div class="card-header bg-info">
                    <h4 class="m-b-0 text-white">{{item.cons_tx_nome}}</h4></div>
                <div class="card-body">
                    <h3 class="card-title">Special title treatment</h3>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="javascript:void(0)" class="btn btn-inverse">Go somewhere</a>
                </div>
            </div>
<!-- Colocar os cards -->

          </div>

      </div>

    </div>
  </div>
</div>




<!--

              <div class="row">
                <div class="col-sm-6" *ngFor="let item of lista">
                  <div class="card card-border-primary">
                    <div class="card-header">
                      <div class="media-left media-middle photo-table">
                        <a href="javascript:;">
                           <h5>{{item.cons_tx_nome}}</h5>

                          <span class="label " [ngClass]="{'label-danger f-right': item.situ_tx_situacao!='A', 'label-success f-right': item.situ_tx_situacao=='A' }">{{item.camposAuxiliares.tx_situacao}}</span>

                        </a>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-12">

                          <ul class="list list-unstyled">
                            <li>Telefone: &nbsp;{{item.cons_tx_telefone1}}</li>
                            <li>Email:
                              <span class="text-semibold">{{item.cons_tx_email}}</span>
                            </li>
                          </ul>
                        </div>

                      </div>
                    </div>
                    <div class="card-footer">


                      <div class="task-board m-0">
                        <a class="btn btn-info btn-mini b-none" [routerLink]="['../consultor/'+ item.cons_nr_sequencia + '/detail']">
                          <i class="icofont icofont-eye-alt m-0"></i>&nbsp;Consultar</a>
                        <a class="btn btn-info btn-mini b-none" [routerLink]="['../consultor/'+ item.cons_nr_sequencia + '/edit']">
                          <i class="icofont icofont-eye-alt m-0"></i>&nbsp;Editar</a>

                        <a class="btn btn-info btn-mini b-none" [routerLink]="">
                          <i class="icofont icofont-eye-alt m-0"></i>&nbsp;Resumo</a>
                      </div>

                    </div>

                  </div>

                </div>


              </div>
            -->

