<div class="row">
    <div class="col-12">
        <h3 class="m-b-15">{{tituloPagina}}</h3>
        <!-- Row -->
       
<div class="row">
    <!-- column -->
    <div class="col-sm-12">
        <div class="card">
            <div class="row">
                <!-- column -->
                <div class="col-sm-12 col-md-4">
                    <div class="border-right">
                        <div class="d-flex p-40 border-bottom justify-content-center">
                            <div class="text-center">
                                <h1 class="m-b-0 display-3">{{qtdPesquisa}}</h1>
                                <span>Pesquisas</span>
                            </div>
                        </div>
                        <div *ngFor="let item of lista " class="d-flex align-items-center p-20 border-bottom">
                            <div class="m-r-20">
                                <div data-label="" class="css-bar m-b-0 css-bar-success css-bar-{{item.camposAuxiliares.percentual}}">
                                    <i class="mdi mdi-file-document"></i>
                                </div>
                            </div>
                            <div>
                                <h3 class="m-b-0">{{item.camposAuxiliares.qtd_pesquisa}}</h3>
                                <span>{{item.camposAuxiliares.ques_tx_descricao}}</span>
                            </div>
                        </div>
                    
                    </div>
                </div>
                <!-- column -->
                <div class="col-sm-12 col-md-8">
                    <div class="card-body">
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">Histórico</h4>
                                <h5 class="card-subtitle">últimos 6 meses</h5>
                            </div>
                            <div class="ml-auto d-flex align-items-center">
                                <ul class="list-inline font-12 dl m-r-10">
                                    <li class="list-inline-item">
                                        <i class="far fa-circle text-info"></i> Pesquisas</li>
                                    <li class="list-inline-item">
                                        <i class="far fa-circle text-muted"></i> Média</li>
                                </ul>
                            </div>
                        </div>
                        <div class="m-t-30" >
                            <div style="height: 400px" id="placeholder"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ============================================================== -->
<!-- Locations -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Histórico</h4>
                <h5 class="card-subtitle">últimos 6 meses</h5>
                <div class="row">
                    <!-- column -->
                    <div class="col-sm-12 col-md-5 col-lg-7">
                        <div class="m-t-40 countries">
                            <ngx-charts-bar-vertical [scheme]="colorScheme" [schemeType]="schemeType" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
                                [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                [tooltipDisabled]="tooltipDisabled" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [showGridLines]="showGridLines"
                                [barPadding]="60" [view]="view" [roundDomains]="roundDomains">
                            </ngx-charts-bar-vertical>
                        </div>
                    </div>
                    <!-- column -->
                    <div class="col-sm-12 col-md-6 col-lg-4 ml-auto">
                        <ul class="list-style-none p-r-15 country-list" [perfectScrollbar]="config">
                            <li class="d-flex border-bottom p-t-20 p-b-20 align-items-center">
                                <i class="icon-graph m-r-15" title="it" id="it"></i>
                                <span class="text-info">02/2019</span>
                                <h5 class="ml-auto m-b-0">24</h5>
                            </li>
                            <li class="d-flex border-bottom p-t-20 p-b-20 align-items-center">
                                <i class="icon-graph m-r-15" title="us" id="us"></i>
                                <span class="text-info">03/2019</span>
                                <h5 class="ml-auto m-b-0">18</h5>
                            </li>
                            <li class="d-flex border-bottom p-t-20 p-b-20 align-items-center">
                                <i class="icon-graph m-r-15" title="de" id="de"></i>
                                <span class="text-info">04/2019</span>
                                <h5 class="ml-auto m-b-0">14</h5>
                            </li>
                            <li class="d-flex border-bottom p-t-20 p-b-20 align-items-center">
                                <i class="icon-graph m-r-15" title="in" id="in"></i>
                                <span class="text-info">05/2019</span>
                                <h5 class="ml-auto m-b-0">15</h5>
                            </li>
                            <li class="d-flex border-bottom p-t-20 p-b-20 align-items-center">
                                <i class="icon-graph m-r-15" title="in" id="in"></i>
                                <span class="text-info">06/2019</span>
                                <h5 class="ml-auto m-b-0">09</h5>
                            </li>
                            <li class="d-flex border-bottom p-t-20 p-b-20 align-items-center">
                                <i class="icon-graph m-r-15" title="es" id="es"></i>
                                <span class="text-info">07/2019</span>
                                <h5 class="ml-auto m-b-0">15</h5>
                            </li>
                            <li class="d-flex border-bottom p-t-20 p-b-20 align-items-center">
                                <i class="icon-graph m-r-15" title="es" id="es"></i>
                                <span class="text-info">08/2019</span>
                                <h5 class="ml-auto m-b-0">35</h5>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-info m-t-10">detalhes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

         
        <!-- Row -->
    </div>
</div>