<div class="row">
    <!-- TIPO = RADIO -->
    <div class="col-12" *ngIf="tipo==='RADIO'">
        <div class="row el-element-overlay justify-content-md-center">
            <div class="col-lg-2 col-md-6" *ngFor="let itemResposta of listRespostas" (click)="onClick(index+1)">
                <div class="card">
                    <div class="el-card-item">
                        <div class="el-card-avatar el-overlay-1" 
                            (click)="getResposta(itemResposta.resp_nr_sequencia, itemResposta.resp_tx_descricao)">
                            <img style="padding:10px; " [src]="itemResposta.resp_tx_imagem" alt="" />
                        </div>
                        <div class=" text-center  align-items-center">
                            <div class="text-center">
                                <h3>{{itemResposta.resp_tx_descricao}}</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div class="col-12" *ngIf="tipo==='4'" style="background-color: bisque">
        <div class="row">
            <div class="col-3" style="background-color: aqua" *ngFor="let itemResposta of listRespostas">
                <img [src]="itemResposta.resp_tx_imagem" (click)="onClick(index+1)" *ngIf="itemResposta.resp_tx_imagem">
                {{itemResposta.resp_tx_descricao}}
            </div>

        </div>
    </div>

    <!-- TIPO = TEXTO_PEQUENO -->
    <div class="col-12" *ngIf="tipo==='TEXTO_PEQUENO'">
        <div class="row">
            <div class="input-group input-group-lg mb-3">
                <div class="input-group-prepend ">
                    <button class="btn btn-lg 
                     btn-info" type="button">
                        <i class="ti-pencil"></i>
                    </button>
                </div>
                <input *ngFor="let item of listRespostas" (change)="getResposta(item.resp_nr_sequencia, $event.target.value )"  type="text" name="tx_descricao" class="form-control input-lg font-weight-bold" placeholder="" aria-label="">
                <div class="input-group-append">
                    <button (click)="onClick(index+1)" class="btn  btn-lg mr-0 btn-success" type="button">
                        <i class="fas fa-check"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- TIPO = TEXTO_GRANDE -->
    <div class="col-12" *ngIf="tipo==='TEXTO_GRANDE'">
        <div class="row">
            <div class="input-group input-group-lg mb-3">
                <div class="input-group-prepend ">
                    <button class="btn btn-lg mr-0 btn-info" type="button">
                        <i class="ti-pencil"></i>
                    </button>
                </div>
                <textarea *ngFor="let item of listRespostas" (change)="getResposta(item.resp_nr_sequencia, $event.target.value)"
                    type="text" class="form-control input-lg font-weight-bold" placeholder="" aria-label=""></textarea>
                <div class="input-group-append">
                    <button (click)="onClick(index+1)" class="btn  btn-lg mr-0 btn-success" type="button">
                        <i class="fas fa-check"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- TIPO = LINEAR -->
    <div class="col-12 " *ngIf="tipo==='LINEAR'">
        <div class="row justify-content-md-center">
            <div>
                <span style="font-size: 25px;font-weight: bold">INSATISFEITO</span> &nbsp;&nbsp;
                <button *ngFor="let item of listRespostas" 
                    (click)="onClick(index+1); getResposta(item.resp_nr_sequencia, item.resp_tx_valor)"
                    class=" btn btn-circle btn-xl btn-success mb-3 mr-3  " type="button">
                    {{item.resp_tx_valor}}
                </button>
                <span style="font-size: 25px;font-weight: bold">SATISFEITO</span>
            </div>

        </div>
    </div>

</div>