
 <h3>
  <b class="text-danger">{{titulo}}</b> (  {{camposhowTitulo}} )
</h3>


<div class="row"  *ngFor="let item of listaFaturamento " >
  <div class="col-sm-12 "  >
      <h3>
          <b class="text-danger ">{{  ( this.tipoquery === 'DETALHAMENTO_EMPRESA') ? item.empresa : item.departamento}}</b>
        </h3>
    <app-faturamento [principal]="item"  [ehdetalhe]="true" ></app-faturamento>
  </div>
</div>

<div class="col-md-12">
  <div class="text-right">
      <button class="btn btn-danger"   (click)="goBack()"  type="button"> Voltar </button>
  </div>
</div>
