<div class="auth-wrapper d-flex  justify-content-center align-items-center" style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center;">
    <div class="auth-box">
        <div>
            <div class="logo" style="margin-bottom:10px">
              <!--  <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>-->

				 <span class="db"><img src="assets/images/logo-text.png" alt="logo"   style="max-height: 150px" /></span>

         <h5 class="font-medium m-b-20"   >Recupera Senha</h5>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal "  [formGroup]="loginForm">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"  ><i class="fas fa-building"></i></span>
                            </div>
                            <input type="text" formControlName="empresadesc"  class="form-control form-control-lg" placeholder="aguarde"     >
                            <input type="hidden" formControlName="empresa"  class="form-control form-control-lg" placeholder="empresa"     >

                        </div>
                        <div class="input-group mb-3" >
                            <div class="input-group-prepend">
                                <span class="input-group-text"  ><i class="ti-pencil"></i></span>
                            </div>
                            <input type="password"  formControlName="password" class="form-control form-control-lg" placeholder="senha"   >
                        </div>
                        <div class="input-group mb-3"  >
                          <div class="input-group-prepend">
                              <span class="input-group-text"  ><i class="ti-pencil"></i></span>
                          </div>
                          <input type="password"  formControlName="confirmPassword" class="form-control form-control-lg" placeholder="Confirma "   >
                      </div>

                        <div class="form-group row" >
                          <div class="col-md-12">
                              <div class="custom-control custom-checkbox">
                                  <a href="javascript:void(0)" id="to-recover" class="text-dark float-right"><i class="fa fa-lock m-r-5"></i> Voltar para o Login</a>
                              </div>
                          </div>
                      </div>
                        <div class="form-group text-center"  >
                            <div class="col-xs-12 p-b-20">
                                <button class="btn btn-block btn-lg btn-info" (click)="login()" [disabled]="loginForm.invalid" type="submit">Entrar</button>
                            </div>
                        </div>




                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
