<div
  class="card  border-info  mb-0"
  style="border-left-color: black;border-left-width: 5px;"
  *ngIf="true"
>
  <div
    class="card-header  bg-white"
    style="padding: 0.30rem 0.70rem;"
    *ngIf="tipoView"
  >
    <div class="d-flex  align-items-center">
      <div class="m-r-15 ">
        <button
          type="button"
          class="btn waves-effect waves-light btn-block btn-info"
          (click)="mudaVisao()"
          *ngIf="tipoView === 'R$'"
        >
          <i class=" fas fa-cubes"></i>&nbsp; <strong>Qtd</strong>
        </button>
        <button
          type="button"
          class="btn waves-effect waves-light btn-block btn-info"
          (click)="mudaVisao()"
          *ngIf="tipoView !== 'R$'"
        >
          <i class=" fas fa-dollar-sign"></i>&nbsp; <strong>Faturamento</strong>
        </button>
      </div>
      <div style="width:90%;">
        <h4 class="mb-0 mt-2 " style="font-weight: bold;font-size: 16px; ">
          Resumo {{ tituloTela }} Mês
        </h4>
        <h5
          class="mb-0 mt-1 font-italic text-danger"
          style="font-size: 14px;color:#a1aab2 ; "
        >
          {{ tituloTela }}
          <strong>(até {{ "01/01/2010" | date: "dd/MM" }})</strong>
        </h5>
      </div>
    </div>
  </div>
</div>
<div class="row  mt-1" [@changeState]="currentState" *ngIf="true">
  <div class="col-sm-12 col-lg-4" *ngFor="let item of listaFaturamento">
    <app-resumofaturamento
      [item]="item"
      [tipoView]="tipoView"
    ></app-resumofaturamento>
  </div>
</div>

<div class="row  mt-1" [@changeState]="currentState" *ngIf="true">
  <div class="col-lg-6  " *ngIf="carregouLista">
    <div class="card">
      <div class="card-body" style="max-height: 450px">
        <app-faturamento-detalhamento
          [principal]="listaFaturamento[0]"
          subtitulo="Posição até o dia"
          [setTipoView]="tipoView"
        ></app-faturamento-detalhamento>
      </div>
    </div>
  </div>
  <div class="col-lg-6  " *ngIf="carregouGrafico">
    <div class="card">
      <div class="card-body " style="max-height: 450px">
        <h4 class="card-title">{{ tituloTela }} diario</h4>
        <h5 class="card-subtitle">
          Periodo <strong>{{ this.subtituloGrafico }}</strong>
        </h5>
        <div echarts [options]="opcoesGrafico2" style="height:360px"></div>
      </div>
    </div>
  </div>
</div>

<!--------------------------------------->
<div
  class="card  border-info  mb-0"
  style="border-left-color: black;border-left-width: 5px;"
  *ngIf="true"
>
  <div class="card-header  bg-white" style="padding: 0.30rem 0.70rem;">
    <div class="d-flex  align-items-center">
      <div class="m-r-15 ">
        <button
          type="button"
          class="btn waves-effect waves-light btn-block btn-info"
          (click)="mudaVisao()"
        >
          <i class=" fas fa-cubes"></i>&nbsp; <strong>Qtd</strong>
        </button>
      </div>
      <div style="width:90%;">
        <h4 class="mb-0 mt-2 " style="font-weight: bold;font-size: 16px; ">
          Resumo de Vendas
        </h4>
        <h5
          class="mb-0 mt-1 font-italic text-danger"
          style="font-size: 14px;color:#a1aab2 ; "
        >
          <strong>(até {{ "01/01/2010" | date: "dd/MM" }})</strong>
        </h5>
      </div>
    </div>
  </div>
</div>
<div class="row  mt-1">
  <!--------------------------------------->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Resumo de Vendas por Consultor</h4>
        <div class="table-responsive">
          <table class="table table-bordered table-sm m-b-0">
            <thead class="bg-primary text-white">
              <tr class="text-center">
                <th rowspan="2">Lojas/Consultores</th>
                <th>Passagens</th>
                <th colspan="2">Produtos</th>
                <th colspan="2">Serviços</th>
                <th rowspan="2">
                  Conversão<br />
                  Produto
                </th>
                <th rowspan="2">
                  Conversão<br />
                  Geral
                </th>
                <th rowspan="2">
                  Total <br />
                  Faturamento
                </th>
                <th rowspan="2">
                  Tiket <br />
                  Medio
                </th>
              </tr>
              <tr class="text-center">
                <th>Qtd</th>
                <th>Qtd</th>
                <th>Vlr. Venda</th>
                <th>Qtd</th>
                <th>Vlr. Venda</th>
              </tr>
            </thead>
            <tbody>
              <ng-template ngFor let-item [ngForOf]="listaResumoVendas">
                <tr class="titulotr">
                  <td>
                    <div class="d-flex align-items-center">
                      <div class="mr-1">
                        <i
                          class="mr-2 mdi  "
                          (click)="item.expand = !item.expand"
                          [ngClass]="{
                            'mdi-minus-box': item.expand,
                            'mdi-plus-box': !item.expand
                          }"
                          *ngIf="item.tipo === 0"
                        ></i>
                      </div>
                      <div class="">  <i
                        class="mr-2 mdi mdi-chart-areaspline  " style="cursor: pointer;"
                        (click)="
                        getDesempenhoGeral(
                          item.cnpj_empresa,
                          null,
                          'P',
                          item
                        )
                      "
                      ></i>
                        {{ item.nome }}
                      </div>
                    </div>
                  </td>
                  <td class="text-right">{{ item.passagens }}</td>
                  <td class="text-right">
                    {{ item.quantidade_prod
                    }}<i class="mr-0 mdi mdi-chevron-up text-white"></i>
                  </td>
                  <td class="text-right">
                    {{ item.valor_prod | currency: "BRL" }}
                  </td>
                  <td class="text-right">
                    {{ item.quantidade_serv
                    }}<i class="mr-0 mdi mdi-chevron-up text-white"></i>
                  </td>
                  <td class="text-right">
                    {{ item.valor_serv | currency: "BRL" }}
                  </td>
                  <td class="text-right">
                    {{ item.convprod | number: "1.1-2"
                    }}<i
                      class="mr-2 mdi mdi-brightness-1  "
                      [ngClass]="{
                        'text-danger': item.convprod < 1,
                        'text-info': item.convprod >= 1 && item.convprod < 1.2,
                        'text-success': item.convprod >= 1.2
                      }"
                    ></i>
                  </td>
                  <td class="text-right">
                    {{ item.convgeral | number: "1.1-2"
                    }}<i
                      class="mr-2 mdi mdi-brightness-1  "
                      [ngClass]="{
                        'text-danger': item.convgeral < 1,
                        'text-info':
                          item.convgeral >= 1 && item.convgeral < 1.2,
                        'text-success': item.convgeral >= 1.2
                      }"
                    ></i>
                  </td>
                  <td class="text-right">
                    {{ item.faturamento | currency: "BRL" }}
                  </td>
                  <td class="text-right">
                    {{ item.ticket | currency: "BRL" }}
                  </td>
                </tr>
                <tr  *ngIf="item.expandgeral ">

                  <td colspan="10">
                      <div class="card">
                          <div class="card-body " style="max-height: 550px">
                            <!--<h4 class="card-title">{{ tituloTela }} diario</h4>
                            <h5 class="card-subtitle">
                              Periodo <strong>{{ this.subtituloGrafico }}</strong>
                            </h5>-->
                            <div echarts [options]="opcoesGrafico4" style="height:510px"></div>
                          </div>
                        </div>
                    </td>
              </tr>




                <ng-template
                  ngFor
                  let-linha
                  [ngForOf]="item.vendas"
                  *ngIf="item.expand || (item.expandgeral) "
                >
                  <tr
                    [ngClass]="{
                      titulotrexpand: linha.expand
                    }"
                  >
                    <td style="padding-left: 32px; padding-right:32px; ">
                      <i
                      class="mr-2 mdi mdi-chart-areaspline  " style="cursor: pointer;"
                      (click)="
                      getDesempenho(
                        item.cnpj_empresa,
                        linha.vendedor,
                        'P',
                        linha
                      )
                    "
                    ></i>  {{ linha.vendedor }}
                    </td>
                    <td class="text-right">{{ linha.passagens }}</td>
                    <td
                      class="text-right"
                      style="cursor: pointer;"
                      (click)="
                        getProduto(
                          item.cnpj_empresa,
                          linha.vendedor,
                          'P',
                          linha
                        )
                      "
                    >
                      {{ linha.quantidade_prod }}
                      <i
                        class="mr-0 mdi  "
                        [ngClass]="{
                          'mdi-chevron-up': linha.expand,
                          'mdi-chevron-down': !linha.expand
                        }"
                      ></i>
                    </td>
                    <td class="text-right">
                      {{ linha.valor_prod | currency: "BRL":true }}
                    </td>
                    <td
                      class="text-right"
                      style="cursor: pointer;"
                      (click)="
                        getProduto(
                          item.cnpj_empresa,
                          linha.vendedor,
                          'S',
                          linha
                        )
                      "
                    >
                      {{ linha.quantidade_serv
                      }}<i
                        class="mr-0 mdi  "
                        [ngClass]="{
                          'mdi-chevron-up': linha.expand,
                          'mdi-chevron-down': !linha.expand
                        }"
                      ></i>
                    </td>
                    <td class="text-right">
                      {{ linha.valor_serv | currency: "BRL":true }}
                    </td>
                    <td class="text-right">
                      {{ linha.convprod | number: "1.1-2"
                      }}<i
                        class="mr-2 mdi mdi-brightness-1  "
                        [ngClass]="{
                          'text-danger': linha.convprod < 1,
                          'text-info':
                            linha.convprod >= 1 && linha.convprod < 1.2,
                          'text-success': linha.convprod >= 1.2
                        }"
                      ></i>
                    </td>
                    <td class="text-right">
                      {{ linha.convgeral | number: "1.1-2"
                      }}<i
                        class="mr-2 mdi mdi-brightness-1  "
                        [ngClass]="{
                          'text-danger': linha.convgeral < 1,
                          'text-info':
                            linha.convgeral >= 1 && linha.convgeral < 1.2,
                          'text-success': linha.convgeral >= 1.2
                        }"
                      ></i>
                    </td>
                    <td class="text-right">
                      {{ linha.faturamento | currency: "BRL":true }}
                    </td>
                    <td class="text-right">
                      {{ linha.ticket | currency: "BRL":true }}
                    </td>
                  </tr>
                  <tr *ngIf="linha.expand && linha.tipo_expand ==='G'">
                      <td></td>
                      <td colspan="9">
                          <div class="card">
                              <div class="card-body " style="max-height: 450px">
                                <!--<h4 class="card-title">{{ tituloTela }} diario</h4>
                                <h5 class="card-subtitle">
                                  Periodo <strong>{{ this.subtituloGrafico }}</strong>
                                </h5>-->
                                <div echarts [options]="opcoesGrafico3" style="height:410px"></div>
                              </div>
                            </div>
                        </td>
                  </tr>
                  <tr *ngIf="linha.expand && linha.tipo_expand ==='T'">
                    <td></td>
                    <td colspan="9">
                      <div class="table-responsive">
                        <table class="table table-bordered table-sm m-b-0">
                          <thead class="bg-primary text-white">
                            <tr class="text-center">
                              <th colspan="3">
                                Vendas de
                                {{
                                  linha.tipoexp === "P"
                                    ? "Produtos"
                                    : "Servicos"
                                }}
                              </th>
                            </tr>
                            <tr class="text-center">
                              <th>
                                {{
                                  linha.tipoexp === "P"
                                    ? "Produtos"
                                    : "Servicos"
                                }}
                              </th>
                              <th width="20%">Qtd</th>
                              <th width="20%">Vlr. Venda</th>
                            </tr>
                          </thead>
                          <tbody>
                            <ng-template
                              ngFor
                              let-itemprod
                              [ngForOf]="linha.produtos"
                            >
                              <tr
                                [ngClass]="{
                                  titulotr: itemprod.tipolinha === 1
                                }"
                              >
                                <td>
                                  {{ itemprod.GRUPO_PRODUTO }}
                                </td>

                                <td class="text-right">
                                  {{ itemprod.quantidade }}
                                </td>
                                <td class="text-right">
                                  {{
                                    itemprod.valor_total_item
                                      | currency: "BRL":true
                                  }}
                                </td>
                              </tr>
                            </ng-template>
                          </tbody>
                        </table>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </ng-template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--------------------------------------->
  <!--------------------------------------->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Vendas de Produtos</h4>
        <div class="table-responsive">
          <table class="table table-bordered table-sm m-b-0">
            <thead class="bg-primary text-white">
              <tr class="text-center">
                <th>Produtos</th>
                <th style="width:10%">Vendas</th>
                <th style="width:10%">Faturamento</th>
                <th style="width:10%">Aproveitamento</th>
                <th style="width:10%">Estoque</th>
              </tr>
            </thead>
            <tbody>
              <ng-template ngFor let-item [ngForOf]="listaProdutos">
                <tr
                  [ngClass]="{
                    titulotr: item.tipolinha === 1
                  }"
                >
                  <td>
                    {{ item.GRUPO_PRODUTO }}
                  </td>

                  <td class="text-right">{{ item.quantidade }}</td>
                  <td class="text-right">
                    {{ item.valor_total_item | currency: "BRL" }}
                  </td>

                  <td class="text-right">
                    {{ item.convprod | number: "1.1-2"
                    }}<i
                      class="mr-2 mdi mdi-brightness-1  "
                      [ngClass]="{
                        'text-danger': item.convprod < 1,
                        'text-info': item.convprod >= 1 && item.convprod < 1.2,
                        'text-success': item.convprod >= 1.2
                      }"
                    ></i>
                  </td>
                  <td class="text-right">
                    {{ item.convgeral | number: "1.1-2"
                    }}<i
                      class="mr-2 mdi mdi-alert-octagram  "
                      [ngClass]="{
                        'text-danger': item.convgeral < 1,
                        'text-white': item.convgeral >= 1
                      }"
                    ></i>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--------------------------------------->
  <!--------------------------------------->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Vendas de Servicos</h4>
        <div class="table-responsive">
          <table class="table table-bordered table-sm m-b-0">
            <thead class="bg-primary text-white">
              <tr class="text-center">
                <th>Produtos</th>
                <th style="width:10%">Vendas</th>
                <th style="width:10%">Faturamento</th>
                <th style="width:10%">Aproveitamento</th>
              </tr>
            </thead>
            <tbody>
              <ng-template ngFor let-item [ngForOf]="listaServicos">
                <tr
                  [ngClass]="{
                    titulotr: item.tipolinha === 1
                  }"
                >
                  <td>
                    {{ item.GRUPO_PRODUTO }}
                  </td>

                  <td class="text-right">{{ item.quantidade }}</td>
                  <td class="text-right">
                    {{ item.valor_total_item | currency: "BRL" }}
                  </td>

                  <td class="text-right">
                    {{ item.convprod | number: "1.1-2"
                    }}<i
                      class="mr-2 mdi mdi-brightness-1  "
                      [ngClass]="{
                        'text-danger': item.convprod < 1,
                        'text-info': item.convprod >= 1 && item.convprod < 1.2,
                        'text-success': item.convprod >= 1.2
                      }"
                    ></i>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--------------------------------------->
</div>
