<div class="card card-hover">
    <div class="card-body" style="background:url(assets/images/background/active-bg.png) no-repeat top center;">
      <div class="p-t-20 text-center">
        <i class="mdi  display-4 text-orange d-block" [ngClass]="classeIcone"></i>
        <span class="display-6 d-block font-medium">{{getTotal()  |    number:'1.0-0'  }}</span>
        <span class=" font-18 font-bold ">{{titulo}}</span>
        <h6 class=" font-18 font-bold ">Cobertura {{getCobertura() | number:'1.0-0' }} dia(s)</h6>


        <!-- Progress -->
        <div class="progress m-t-40" style="height:4px;">
          <div class="progress-bar bg-info" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar bg-orange" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar bg-warning" role="progressbar" style="width: 65%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <!-- Progress -->
        <!-- row -->
        <div class="row m-t-30 m-b-20">
          <!-- column -->
          <div class="border-right text-center" [ngClass]="classCol"  *ngFor="let item of listaEstoque ">
            <h3 class="m-b-0 font-medium">{{item.percentual}}%</h3>
            <span class="font-18 font-bold">{{item.titulo}}</span>
            <span class="font-16 op-5 d-block font-bold"  *ngIf="tipoCard==='V'">{{item.valor}} UN</span>
            <span class="font-16 op-5 d-block font-bold" *ngIf="tipoCard==='P'">R$ {{item.valor  | number:'1.0-0' }}</span>
            <span class="font-16 op-5 d-block font-bold"   >Meta De {{item.meta}}%</span>
          </div>


        </div>
        <div class="progress m-t-40" style="height:4px;">
          <div class="progress-bar bg-info" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar bg-orange" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
          <div class="progress-bar bg-warning" role="progressbar" style="width: 65%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <a style="display: none"  href="javascript:void(0)" class="waves-effect waves-light m-t-20 btn btn-lg btn-info accent-4 m-b-20">View More Details</a>
      </div>
    </div>
  </div>
