 <div class="card card-body printableArea"    >
    <h3>
        <b class="text-danger">{{titulo}}</b>
    </h3>
    <h4 class="col-md-12"  >
      <span class="pull-left"  > Analitico das Vendas </span>

  </h4>

    <div class="row">



        <div class="col-md-12">
            <div class="table-responsive m-t-40" style="clear: both;">
                <table class="table ">
<thead  class="bg-info text-white">

  <tr>
      <th class="border-top-0  font-bold "  Style="padding-left:22px;font-size: 0.645rem;padding-top:2px!important;padding-bottom: 2px!important"  >Produto</th>
                                    <th class="border-top-0  font-bold"  Style="font-size: 0.645rem;padding-top:2px!important;padding-bottom: 2px!important"  >Quantidade</th>
                                    <th class="border-top-0  font-bold"  Style="font-size: 0.645rem;padding-top:2px!important;padding-bottom: 2px!important"  >Valor Unitario R$</th>
                                    <th class="border-top-0  font-bold"  Style="font-size: 0.645rem;padding-top:2px!important;padding-bottom: 2px!important"  >Valor Item R$</th>

  </tr>
</thead>
                    <tbody>
                        <ng-container  *ngFor="let item of dadosRetornoRelatorio | keyvalue">
                            <tr  class="bg-info text-white" >
                                <th class="border-top-0 font-bold"   Style="font-size: 0.745rem;padding-top:2px!important;padding-bottom: 2px!important" colspan=4>Dia {{item.key | date: 'dd/MM/yyyy' }}</th>
                            </tr>

                            <ng-container *ngFor="let item2 of item.value | keyvalue">
                                <tr  >
                                      <th class="border-top-0 font-bold " colspan=4  Style="font-size: 0.645rem;padding-top:2px!important;padding-bottom: 2px!important;padding:5px"><span   style="pading:5px"> Cliente : {{item2.value[0].cliente}}   - Departamento: {{item2.value[0].departamento }}  - Vendedor:{{item2.value[0].vendedor   }}</span></th>
                                </tr>

                                <ng-container *ngFor="let item3 of item2.value ; let i = index">
                                <tr    >
                                    <th class="border-top-0 "  Style="padding-left:22px;font-size: 0.645rem;padding-top:2px!important;padding-bottom: 2px!important"  > {{item3.produto   }}</th>
                                    <th class="border-top-0 "  Style="font-size: 0.645rem;padding-top:2px!important;padding-bottom: 2px!important;text-align: right!important"  >{{item3.quantidade   }}</th>
                                    <th class="border-top-0 "  Style="font-size: 0.645rem;padding-top:2px!important;padding-bottom: 2px!important;text-align: right!important"  >{{item3.valor_unitario   | number:'1.2-2' }}</th>
                                    <th class="border-top-0 "  Style="font-size: 0.645rem;padding-top:2px!important;padding-bottom: 2px!important;text-align: right!important"  >{{item3.valor_total_item  | number:'1.2-2'  }}</th>


                                  </tr>
                                  <tr   *ngIf=" ( item2.value.length -1 ) === (i)" style="margin-bottom: 15px !important;"  >
                                      <th class="border-top-0 "  Style="padding-left:22px;font-size: 0.645rem;padding-top:2px!important;padding-bottom: 2px!important"  > </th>
                                      <th class="border-top-0 "  Style="font-size: 0.645rem;padding-top:2px!important;padding-bottom: 2px!important"  > </th>
                                      <th class="border-top-0  font-bold bg-info text-white "  Style="font-size: 0.645rem;padding-top:2px!important;padding-bottom: 2px!important"  >Total</th>
                                      <th class="border-top-0   font-bold bg-info text-white "  Style="font-size: 0.645rem;padding-top:2px!important;padding-bottom: 2px!important;text-align: right!important"  >{{item3.valor   | number:'1.2-2' }}</th>
                                    </tr>
                                  </ng-container>
                            </ng-container>
                        </ng-container>

                    <!--  <tr *ngFor="let dados of dadosRetornoRelatorio.dados"  >
                        <td class="font-medium">{{dados["empresa"]}} </td>
                        <td class="font-medium">{{dados["departamento"]}} </td>
                        <td class="font-medium text-right" *ngFor="let keycampo of campos ; let i = index">
                          <div class="d-flex " style="text-align: right!important">

                                {{  (dados.camposAuxiliares[keycampo]  | number:'1.0-0')}}
                                <i *ngIf="i!=0" class="mdi text-success" [ngClass]="((dados.camposAuxiliares[campos[i]]*1) >= (dados.camposAuxiliares[campos[i-1]]*1) )?'mdi-arrow-up  text-success':'mdi-arrow-down  text-danger'" data-toggle="tooltip" data-placement="top" title="Active"></i>


                          </div>
                        </td>
                      </tr>
                    -->



                    </tbody>
                  </table>
            </div>
        </div>
        <div class="col-md-12">
            <div class="text-right">
                <button class="btn btn-danger"   (click)="goBack()"  type="button"> Voltar </button>
            </div>
        </div>
    </div>

</div>
