<div class="row">
  <div class="col-sm-12 col-lg-12">
    <div class="card">
      <div class="card-header bg-info">
        <h4 class="card-title">{{tituloPagina}}</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="filterForm" class="md-float-material">
          <div class="row">

            <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <label for="inputfname" class="control-label col-form-label">Descrição</label>
                <input type="text" id="trib_tx_descricao" formControlName="trib_tx_descricao" class="form-control form-control-sm" placeholder="Informe a descrição"
                  value="">
              </div>
            </div>
            <div class="col-sm-12 col-md-3">
              <div class="form-group">
                <label for="inputlname2" class="control-label col-form-label">Situação</label>
                <ng-select [searchable]="false" [items]="listaSituacao" class="custom" bindLabel="tx_situacao" bindValue="situ_tx_situacao"
                  formControlName="situ_tx_situacao">
                </ng-select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group input-group-sm">
                <label class="control-label" style="width:100%">&nbsp;</label>
                <button type="button" class="btn btn-mini btn-primary  " style="margin-left: 5px!important" (click)="pesquisaDados()">
                  <i class="icofont icofont-search"></i> Pesquisa</button>
              </div>
            </div>
          </div>
        </form>

        <!---  -->
        <div class="row">
          <div class="col-12">
            <form [formGroup]="filterEdicao">
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-sm m-b-0">
                  <thead>
                    <tr>
                      <th style="width: 90px">
                        <button (click)="setNovo()" type="submit" class="btn btn-sm btn-primary" style="margin-left: 5px!important">
                          <i class="fa fa-plus"></i> Incluir</button>
                      </th>
                      <th>
                        <strong>Descrição</strong>
                      </th>
                      <th style="width:15px">
                        <strong>Situação</strong>
                      </th>
                    </tr>
                    <tr>
                    </tr>
                  </thead>
                  <tbody>

                    <ng-template #edit>
                      <tr>
                        <td>
                          <button (click)="setCancel()" class="btn btn-sm btn-primary">
                            <i class="ti-close"></i>
                          </button>&nbsp;
                          <button (click)="saveDados()" class="btn btn-sm btn-primary ">
                            <i class="ti-save"></i>
                          </button>
                          <input type="hidden" class="form-control form-control-sm" id="situ_tx_situacao" formControlName="situ_tx_situacao">
                          <input type="hidden" class="form-control form-control-sm" id="trib_nr_sequencia" formControlName="trib_nr_sequencia">
                        </td>
                        <td>
                          <input type="text" class="form-control form-control-sm" id="trib_tx_descricao" formControlName="trib_tx_descricao"
                            placeholder="entre com a Trib_tx_descricao">
                        </td>
                        <td>
                          <label class="label label-lg " [ngClass]="{'label-danger': modelEdit.situ_tx_situacao!='A', 'label-success': modelEdit.situ_tx_situacao=='A' }">
                            <strong>{{modelEdit.camposAuxiliares.tx_situacao}}</strong>
                          </label>
                        </td>
                      </tr>
                    </ng-template>

                    <ng-container *ngIf=" acao == 'INCLUIR'" [ngTemplateOutlet]="edit">
                    </ng-container>

                    <ng-container *ngFor="let item of lista ">
                      <ng-template [ngIf]="modelEdit.trib_nr_sequencia !== item.trib_nr_sequencia" [ngIfElse]="edit">
                        <tr>
                          <td>
                            <button (click)="setEdit(item)" class="btn btn-sm btn-primary">
                              <i class="fas fa-pencil-alt"></i>
                            </button> &nbsp;
                            <button (click)="ativaInativa(item)" class="btn btn-sm btn-primary ">
                              <i class=" fas" [ngClass]="{'fa-lock': item.situ_tx_situacao =='A', ' fa-lock-open': item.situ_tx_situacao !='A' }"></i>
                            </button>
                          </td>

                          <td>{{item.trib_tx_descricao}}</td>
                          <td>
                            <label class="label label-lg " [ngClass]="{'label-danger': item.situ_tx_situacao!='A', 'label-success': item.situ_tx_situacao=='A' }">
                              <strong>{{item.camposAuxiliares.tx_situacao}}</strong>
                            </label>
                          </td>
                        </tr>
                      </ng-template>
                    </ng-container>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="6">
                        <ngb-pagination [(collectionSize)]="paginacao.totalItens" [(pageSize)]="paginacao.itensPorPagina" [(maxSize)]="paginacao.maximoPaginas"
                          [(page)]="paginacao.paginaCorrente" (pageChange)="getPage()" [ellipses]="false" [boundaryLinks]="false"></ngb-pagination>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </form>
          </div>
        </div>
      </div>
      <ul id="area_validacao" #areaValidacao style="display:none">

        <span *ngIf="filterEdicao.get('trib_tx_descricao').invalid">
          <li *ngIf="filterEdicao.get('trib_tx_descricao').errors.required">
            A Descrição deve ser informada.
          </li>
          <li *ngIf="filterEdicao.get('trib_tx_descricao').hasError('maxlength')">
            A Descrição pode conter no máximo 60 caracteres.
          </li>
        </span>
      </ul>
    </div>
  </div>
</div>