<!-- ============================================================== -->
<!-- toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-left mr-auto"  >
  <li class="nav-item d-none d-md-block">
    <a (click)="toggleSidebar.emit()" class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)">
      <i class="mdi mdi-menu font-24"></i>
    </a>
  </li>
  <!-- ============================================================== -->
  <!-- mega menu -->
  <!-- ============================================================== -->
  <li class="nav-item mega-dropdown" ngbDropdown [autoClose]="false">
    <a ngbDropdownToggle class="nav-link waves-effect waves-dark" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
      <span class="d-none d-md-block">Filtro
        <i class="fa fa-angle-down"></i>
      </span>
      <span class="d-block d-md-none">
        <i class="mdi mdi-dialpad font-24"></i>
      </span>
    </a>
    <div class="dropdown-menu animated bounceInDown" ngbDropdownMenu>
      <div class="mega-dropdown-menu row">
          <div class="col-lg-12">
        <form [formGroup]="filterForm" class="md-float-material">
          <div class="row"  >
            <div class="col-lg-12 ">
              <h4 class="m-b-20">Filtro</h4>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-2"  >

                      <div class="col-lg-12 ">
                        <div class="form-group">
                          <label for="exampleInputname1">Periodo</label>
                          <input type="text" class="form-control" style="width: 80px" formControlName="periodo" id="exampleInputname1" placeholder="Enter Name">
                        </div>
                      </div>


              </div>
              <div class="col-lg-4"  >
                  <div class="col-lg-12 ">
                      <div class="form-group">
                        <div class="list-group-item list-group-item-action border-left-0 border-right-0 flex-column selected" (click)="onTodosEmpresa( )"><strong>Empresa</strong> (marcar/desmarcar)</div>
                        <input type="hidden"  formControlName="empresasfiltro" id="empresasfiltro"  >
                        <div   *ngFor="let item of listaEmpresa" (click)="onSelectEmpresa(item)" [class.selected]="((item.camposAuxiliares['marcado'] === 'S') )"
                        class="list-group-item list-group-item-action border-left-0 border-right-0 flex-column">
                        <div class="d-flex">

                            <div class="pl-3">
                                <div class="d-flex w-100 justify-content-between align-items-center">
                                    <small class="font-medium  ">
                                        <i   [ngClass]="{'  fa-check-square': item.camposAuxiliares['marcado'] === 'S',
                                        '    fa-clone': item.camposAuxiliares['marcado'] === 'X' }"
                                        class="far      m-r-5 font-10"></i>{{item.nome}}
                                    </small>

                                </div>
                                <p class="mb-0 font-14 ">   </p>
                            </div>
                        </div>
                    </div>
                      </div>
                    </div>
                </div>
              <div class="col-lg-6">
                      <div class="col-lg-12 ">
                      <div class="form-group">
                          <div class="list-group-item list-group-item-action border-left-0 border-right-0 flex-column selected" (click)="onTodosDepartamento( )"><strong>Departamento</strong> (marcar/desmarcar)</div>
                        <input type="hidden"  formControlName="departamentosfiltro" id="departamentosfiltro"  >
                      <div   *ngFor="let item of listaDepartamento" (click)="onSelect(item)" [class.selected]="((item.camposAuxiliares['marcado'] === 'S') )"
                      class="list-group-item list-group-item-action border-left-0 border-right-0 flex-column">
                      <div class="d-flex">

                          <div class="pl-3">
                              <div class="d-flex w-100 justify-content-between align-items-center">
                                  <small class="font-medium  ">
                                      <i  [style.padding-left.px]="( (item.camposAuxiliares['posicao']-1) * 30)"
                                      [ngClass]="{'  fa-check-square': item.camposAuxiliares['marcado'] === 'S',
                                      '    fa-clone': item.camposAuxiliares['marcado'] === 'X' }"
                                      class="far      m-r-5 font-10"></i>{{item.nome}}
                                  </small>

                              </div>
                              <p class="mb-0 font-14 ">   </p>
                          </div>
                      </div>
                  </div>
                </div>
                    </div>
                </div>
            </div>
          <div class="col-lg-12  m-b-30">
              <div class="text-right">
              <button type="button" (click)="sendMessage()" class="btn btn-info">Pesquisar</button>
              </div>
          </div>

        </form>
      </div>
      </div>
    </div>
  </li>
  <!-- ============================================================== -->
  <!-- End mega menu -->
  <!-- ============================================================== -->


</ul>

<!-- ============================================================== -->
<!-- Right side toggle and nav items -->
<!-- ============================================================== -->
<ul class="navbar-nav float-right">
     <!-- ============================================================== -->
    <!-- create new -->
    <!-- ============================================================== -->
    <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
        <a ngbDropdownToggle class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
          <strong style="font-size: 18px;font-weight: bold"> {{nomeEmpresa}} </strong> &nbsp; <i class="fas  fa-warehouse"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right animated bounceInDown" aria-labelledby="navbarDropdown" ngbDropdownMenu>
            <a class="dropdown-item" href="#"  *ngFor="let item of listaEmpresa" (click)="onMudaEmpresa(item)"  >
                <i class="fas  fa-warehouse"></i> &nbsp;&nbsp;{{item.nome}} </a>
             
        </div>
    </li>

  <!-- ============================================================== -->
  <!-- Comment -->
  <!-- ============================================================== -->
  <li class="nav-item dropdown" ngbDropdown placement="bottom-right" *ngIf="false">
    <a ngbDropdownToggle class="nav-link dropdown-toggle waves-effect waves-dark" href="javascript:void(0)" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <i class="mdi mdi-bell font-24">Empresa</i>
    </a>
    <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown" ngbDropdownMenu>
      <span class="with-arrow">
        <span class="bg-primary"></span>
      </span>
      <ul class="list-style-none">
        <li>
          <div class="drop-title bg-primary text-white">
            <h4 class="m-b-0 m-t-5">4 New</h4>
            <span class="font-light">Notifications</span>
          </div>
        </li>
        <li>
          <div class="message-center notifications" [perfectScrollbar]="config">
            <!-- Message -->
            <a href="javascript:void(0)" class="message-item" *ngFor="let notification of notifications">
              <span class="btn btn-circle {{notification.btn}}">
                <i class="{{notification.icon}}"></i>
              </span>
              <span class="mail-contnet">
                <h5 class="message-title">{{notification.title}}</h5>
                <span class="mail-desc">{{notification.subject}}</span>
                <span class="time">{{notification.time}}</span>
              </span>
            </a>
          </div>
        </li>
        <li>
          <a class="nav-link text-center m-b-5" href="javascript:void(0);">
            <strong>Check all notifications</strong>
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </li>
  <!-- ============================================================== -->
  <!-- End Comment -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Messages -->
  <!-- ============================================================== -->
  <li class="nav-item dropdown" ngbDropdown placement="bottom-right" *ngIf="false">
    <a ngbDropdownToggle class="nav-link dropdown-toggle waves-effect waves-dark" href="javascript:void(0)" id="2" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <i class="font-24 mdi mdi-comment-processing"></i>

    </a>
    <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown" aria-labelledby="2" ngbDropdownMenu>
      <span class="with-arrow">
        <span class="bg-danger"></span>
      </span>
      <ul class="list-style-none">
        <li>
          <div class="drop-title text-white bg-danger">
            <h4 class="m-b-0 m-t-5">5 New</h4>
            <span class="font-light">Messages</span>
          </div>
        </li>
        <li>
          <div class="message-center message-body" [perfectScrollbar]="config">
            <!-- Message -->
            <a href="javascript:void(0)" class="message-item" *ngFor="let mymessage of mymessages">
              <span class="user-img">
                <img src="{{mymessage.useravatar}}" alt="user" class="rounded-circle">
                <span class="profile-status {{mymessage.status}} pull-right"></span>
              </span>
              <span class="mail-contnet">
                <h5 class="message-title">{{mymessage.from}}</h5>
                <span class="mail-desc">{{mymessage.subject}}</span>
                <span class="time">{{mymessage.time}}</span>
              </span>
            </a>
          </div>
        </li>
        <li>
          <a class="nav-link text-center link" href="javascript:void(0);">
            <b>See all e-Mails</b>
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
    </div>
  </li>
  <!-- ============================================================== -->
  <!-- End Messages -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- User profile and search -->
  <!-- ============================================================== -->
  <li class="nav-item dropdown" ngbDropdown placement="bottom-right">
    <a ngbDropdownToggle class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="javascript:void(0)"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31">
    </a>
    <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY" ngbDropdownMenu>
      <span class="with-arrow">
        <span class="bg-primary"></span>
      </span>
      <div class="d-flex no-block align-items-center p-15 bg-primary text-white m-b-10">
        <div class="">
          <img src="assets/images/users/1.jpg" alt="user" class="img-circle" width="60">
        </div>
        <div class="m-l-10">
          <h4 class="m-b-0" *ngIf="user()">{{user().apelido}}</h4>
          <p class=" m-b-0" *ngIf="user()">{{user().email}}</p>
        </div>
      </div>
      <span *ngIf="false">
        <a class="dropdown-item" href="javascript:void(0)">
          <i class="ti-user m-r-5 m-l-5"></i> My Profile</a>
        <a class="dropdown-item" href="javascript:void(0)">
          <i class="ti-wallet m-r-5 m-l-5"></i> My Balance</a>
        <a class="dropdown-item" href="javascript:void(0)">
          <i class="ti-email m-r-5 m-l-5"></i> Inbox</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)">
          <i class="ti-settings m-r-5 m-l-5"></i> Account Setting</a>
        <div class="dropdown-divider"></div>

        <div class="dropdown-divider"></div>
        <div class="p-l-30 p-10">
          <a href="javascript:void(0)" class="btn btn-sm btn-success btn-rounded">View Profile</a>
        </div>
      </span>
      <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">
        <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
    </div>
  </li>
  <!-- ============================================================== -->
  <!-- User profile and search -->
  <!-- ============================================================== -->
</ul>
