.list-group-item {
  cursor: pointer;
}
.list-group-item.selected {
    background-color: #fffbf4;
}
.list-group-item.hover.active {
      background-color: #fffbf4;
    }
    .list-group-item.focus.active{
      background-color: #fffbf4;
    }


