    <div class="card " [ngClass]="item.color">
      <div class="card-body" style="min-height: 258px">
        <div class="d-flex flex-row">
          <div class="align-self-center display-6  text-white">
            <i [ngClass]="item.icone"></i>
          </div>
          <div class="p-10  text-white  align-self-center">
            <h5 class="m-b-0">{{item.title}}</h5>
            <span>{{item.subtitle}}</span>
          </div>
        </div>
        <br/>
        <h5 class="text-white m-b-0">{{item.titletop1}}</h5>
        <h3 class="text-white">{{item.valuetop1  | number:'1.0-0'  }}</h3>
        <div class="row">
          <div class="col-sm-12 col-lg-6">
            <div class="d-flex align-items-center m-t-5 m-b-5">
              <div class="text-white">
                <span class="font-16 op-1 d-block">{{item.titletop2}}&nbsp;</span>
                <span class="font-16 font-medium">{{item.valuetop2  | number:'1.0-0'  }}&nbsp;</span>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-lg-6">
            <div class="d-flex no-block align-items-center m-t-5 m-b-5">
              <div class="text-white">
                <span class="font-16 op-1 d-block">{{item.titletop3}}&nbsp;</span>
                <span class="font-16 font-medium">{{item.valuetop3  | number:'1.0-0'  }}&nbsp;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
