<div class="row" [@changeState]="currentState">
  <div class="col-lg-3">
    <div class="card  " style="min-height: 390px!important" [ngClass]="{'bg-danger': item.valor < item.valor_ant_dia, 'bg-primary':  item.valor >= item.valor_ant_dia}">
      <div class="card-body">

        <div class="d-md-flex align-items-center">
          <div>
            <h4 class="card-title text-white">{{dados.Titulo}}</h4>
            <h5 class="card-subtitle text-white">Mês <strong>(até {{item.camposAuxiliares["dataref_mes"] | date:'dd/MM'
                }})</strong></h5>
          </div>
          <div class="ml-auto d-flex no-block align-items-center">

            <button type="button" class="btn btn-sm bg-white" (click)='mudaVisao()' *ngIf="tipoView=='R$'">
              <i class=" fas fa-cubes"></i>&nbsp; <strong>Qtd</strong></button>

            <button type="button" class="btn btn-sm bg-white" (click)='mudaVisao()' *ngIf="tipoView=='QTD'">
              <i class=" fas fa-cubes"></i>&nbsp; <strong>Fturamento</strong></button>
          </div>
        </div>

        <h2 class="  font-bold m-b-5 text-white">{{ dados.valor | number:'1.0-0' }} </h2>
        <span class="font-bold  text-white">{{ dados.percentual_diferenca | percent }} ({{ dados.valor_diferenca |
          number:'1.0-0'}})
          <i class="fas   font-bold" [ngClass]="{'fa-arrow-down': dados.valor_diferenca < 0, 'fa-arrow-up': dados.valor_diferenca > 0}"></i>
        </span>
        <hr>
        <span class="  text-white">{{dados.Titulo}} Mês Anterior <strong>(até {{item.camposAuxiliares["dataref_mesant"]
            | date:'dd/MM' }})</strong></span>
        <h3 class="font-bold   text-white">{{ dados.valor_ant | number:'1.0-0'}}</h3>
        <hr>
        <span class="  text-white">{{dados.Titulo}} Mês Anterior Total</span>
        <h3 class="font-bold  text-white ">{{ dados.mes_anterior | number:'1.0-0'}}</h3>
        <!-- <div ngbDropdown class="d-inline-block">
          <button class="btn btn-white btn-rounded waves-effect waves-light m-t-20" id="dropdownBasic1" ngbDropdownToggle>Detalhamento</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button (click)="mudaCardPadrao(item, 'R')" class="dropdown-item ">Ultimos 6 meses</button>
              <button (click)="mudaCardPadrao(item, 'E')" class="dropdown-item  ">Empresa</button>
              <button (click)="mudaCardPadrao(item, 'D')" class="dropdown-item  ">Departamento</button>

          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>
