<div class="row">
  <div class="col-sm-12 col-lg-12">

    <div class="card">
      <div class="card-header bg-info">
        <h4 class="card-title">{{tituloPagina}}</h4>
      </div>
      <div class="card-body">

        <form [formGroup]="filterEdicao">
          <div class="row">
            <div class="col-md-7">
              <div class="form-group input-group-sm">
                <label class="control-label col-form-label">Nome</label><input type="text" class="form-control form-control-sm" id="nome"
                  formControlName="nome" placeholder="Informe o nome">
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group input-group-sm">
                <label class="control-label col-form-label">Apelido</label><input type="text" class="form-control form-control-sm" id="apelido"
                  formControlName="apelido" placeholder="Informe o apelido">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              <div class="form-group input-group-sm">
                <label class="control-label col-form-label">E-mail</label><input type="text" class="form-control form-control-sm" id="email"
                  formControlName="email" placeholder="Informe o e-mail">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group input-group-sm">
                <label class="control-label col-form-label">Situação</label>
                <ng-select [searchable]="false" [items]="listaSituacao" class="custom" bindLabel="tx_situacao" bindValue="situacao"
                  formControlName="situacao">
                </ng-select>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-6">
              <h4 class="sub-title">Empresas  </h4>
              <div class="border-checkbox-section" *ngIf="carregouEmpresa">

                <div class="border-checkbox-group border-checkbox-group-primary" *ngFor="let itemEmpresa of listaEmpresas">
                  <input class="border-checkbox" id="id_empresa{{itemEmpresa.id_sequencia}}" formControlName="id_empresa{{itemEmpresa.id_sequencia}}"  type="checkbox">
                  <label class="border-checkbox-label" for="id_empresa{{itemEmpresa.id_sequencia}}">&nbsp;{{itemEmpresa.nome}}</label>
                </div>

              </div>
            </div>

            <div class="col-md-6">
              <h4 class="sub-title">Departamento  </h4>
              <div class="border-checkbox-section" *ngIf="carregouDepartamento">

                <div class="border-checkbox-group border-checkbox-group-primary" *ngFor="let itemDepartamento of listaDepartamentos">
                  <input class="border-checkbox" id="id_departamento{{itemDepartamento.id_sequencia}}" formControlName="id_departamento{{itemDepartamento.id_sequencia}}"  type="checkbox">
                  <label class="border-checkbox-label" for="id_departamento{{itemDepartamento.id_sequencia}}">&nbsp;{{itemDepartamento.nome}}</label>
                </div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-right">
              <button type="reset" class="btn btn-sm btn-primary" (click)="setCancel()">Voltar</button>&nbsp;
              <button type="submit" class="btn btn-sm btn-primary" (click)="saveDados()">Salvar</button>
            </div>
          </div>
        </form>

        <ul id="area_validacao" #areaValidacao style="display:none">
          <span *ngIf="filterEdicao.get('nome').invalid">
            <li *ngIf="filterEdicao.get('nome').errors.required">
              O nome deve ser informado.
            </li>
            <li *ngIf="filterEdicao.get('nome').hasError('maxlength')">
              O nome pode conter no máximo 100 caracteres.
            </li>
          </span>
          <span *ngIf="filterEdicao.get('apelido').invalid">
            <li *ngIf="filterEdicao.get('apelido').errors.required">
              O apelido deve ser informado.
            </li>
            <li *ngIf="filterEdicao.get('apelido').hasError('maxlength')">
              O apelido pode conter no máximo 20 caracteres.
            </li>
          </span>
          <span *ngIf="filterEdicao.get('email').invalid">
            <li *ngIf="filterEdicao.get('email').errors.required">
              O e-mail deve ser informado.
            </li>
            <li *ngIf="filterEdicao.get('email').hasError('maxlength')">
              O email pode conter no máximo 200 caracteres.
            </li>
          </span>
        </ul>

      </div>
    </div>

  </div>
</div>
