<div class="row">
    <div class="col-12 m-t-10">

        <div class="card w-100 text-center">
            <div class="card-body">
                <img *ngIf="paginacao.totalItens > 0; else semDados" style="height: 120px"
                    src="assets/images/logo/{{ques_tx_logo_empresa}}">

                <ng-template #semDados>
                    <h1 class="card-title">Sem perguntas para exibir</h1>
                </ng-template>

            </div>
        </div>

        <div *ngIf="paginacao.totalItens > 0 && !(textoQuestionario.ques_tx_texto_inicio === '')" class="card w-100 text-center">
            <div class="card-body">
                <h2 class="card-title">{{textoQuestionario.ques_tx_texto_inicio}}</h2>
            </div>
        </div>

        <div id="passo_{{i}}" class="card w-100 text-center" *ngFor="let item of lista; let i = index">
            <div class="card-body">
                <h1 class="card-title">{{item.perg_tx_descricao}}</h1>
                <app-resposta (onResposta)="setarRespostas($event)" [index]="i" [tipo]="item.perg_tx_tipo"
                    [perguntaId]='item.perg_nr_sequencia'></app-resposta>
            </div>
        </div>

        <div *ngIf="paginacao.totalItens > 0" class="card w-100 text-center">
            <div class="card-body">
                <h2 class="card-title">{{textoQuestionario.ques_tx_texto_fim}}</h2>
            </div>
        </div>
    </div>

    <div *ngIf="paginacao.totalItens > 0" class="col-12 m-t-10">
        <div class="row justify-content-md-center">
            <button (click)="confimar()" class="btn btn-block btn-lg btn-success" type="button">
                <i class="fas fa-check"></i> FINALIZAR QUESTIONÁRIO
            </button>
        </div>
    </div>

    <div class="col-12 m-t-10">
        <div class="row justify-content-md-center">
            <button routerLink="/questionario" class="btn btn-block btn-lg btn-primary" type="button">
                VOLTAR
            </button>
        </div>
    </div>

</div>