<div class="card     " style="min-height: 390px!important">
  <div class="card-body">
      <form [formGroup]="filterRank">
      <div class="d-md-flex align-items-center">
          <div>
              <h4 class="card-title">Posição por {{titulo}} {{tipoView}}</h4>
              <h5 class="card-subtitle">{{subtitulo}}</h5>
          </div>
          <div class="ml-auto align-items-center">
              <div class="dl">
                  <ng-select [searchable]="false" [items]="listaTipo" class="custom" bindLabel="tx_titulo" bindValue="tipo"
                  formControlName="tiporank"
                  (change)="onChangeRank($event)">
                </ng-select>
              </div>
          </div>
      </div>
    </form>
      <!-- column -->
      <div class="row m-t-40"  >
          <!-- column -->
          <div class="col-lg-4">
              <div echarts [options]="opcoesGrafico" style="height:200px"></div>
          </div>
          <!-- column -->
          <div class="col-lg-8">
            <!--  <h1 class="display-6 m-b-0 font-medium">R$ 43,567.53</h1>
              <span>Total de Faturamento</span> -->
              <ul class="list-style-none">
                  <li class="m-t-10"  *ngFor="let itemRank of listaRank ; let i = index">
                      <i class="fas fa-circle m-r-5  font-12" [ngStyle]="{'color': listaCores[i]}"></i><span class="font-bold font-12" [ngStyle]="{'color': listaCores[i]}"> {{itemRank.camposAuxiliares["descricao"]}}</span>
                      <span class="float-right font-bold font-12" [ngStyle]="{'color': listaCores[i]}" >{{ itemRank.valor | number:'1.0-0' }} </span>


                      <ngb-progressbar [striped]="false" showValue="true" height="12px"
                      [value]="(itemRank.valor*100)/ this.total  | number:'1.1-2'"></ngb-progressbar>


                    </li>
              </ul>
          </div>
      </div>
      <!-- column -->
  </div>
  </div>
