// In this scss you can overwrite all our scss, we suggested you to add your scss into this, so whenever the update comes it will not affect your code.
.bg-info {
background: linear-gradient(70deg, #1db4dd, #34cb82)   !important;
}


.bg-primary {
  background-color: #1db4dd    !important;
  }


  .btn-info {
    background-color: #5cccaa     !important;
    border-color: #5cccaa     !important;
  }

  .border-info {

    border-color: #13814c     !important;
  }


  /*
  .bg-info {
background-color: #5cccaa   !important;
}


.bg-primary {
  background-color: #5cccaa    !important;
  }


  .btn-info {
    background-color: #13814c     !important;
    border-color: #13814c     !important;
  }

  .border-info {

    border-color: #13814c     !important;
  }
*/
