<div class="row">
  <div class="col-sm-12 col-lg-12">
    <div class="card">
      <div class="card-header bg-info">
        <h4 class="card-title">{{tituloPagina}}</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="filterForm" class="md-float-material">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group input-group-sm">
                <label class="control-label col-form-label">Nome</label>
                <input type="text" id="nome" formControlName="nome" class="form-control form-control-sm" placeholder="Filtrar por nome" value="">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group input-group-sm">
                <label class="control-label col-form-label">Apelido</label>
                <input type="text" id="apelido" formControlName="apelido" class="form-control form-control-sm" placeholder="Filtrar por apelido" value="">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group input-group-sm">
                <label class="control-label col-form-label">E-mail</label>
                <input type="text" id="email" formControlName="email" class="form-control form-control-sm" placeholder="Filtrar por e-mail" value="">
              </div>
            </div>
          </div >
          <div class="row">
            <div class="col-md-3">
              <div class="form-group input-group-sm">
                <label class="control-label col-form-label">Situação</label>
                <ng-select [searchable]="false" [items]="listaSituacao" class="custom"
                bindLabel="tx_situacao"   bindValue="situacao"  formControlName="situacao">
                </ng-select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group input-group-sm">
                <label class="control-label col-form-label" style="width:100%">&nbsp;</label>
                <button type="button" class="btn btn-sm btn-primary" style="margin-left: 5px!important" (click)="getDados()">
                  <i class="icofont icofont-search"></i> Pesquisa</button>
              </div>
            </div>
          </div>
        </form>

        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-sm m-b-0">
                  <thead>
                    <tr>
                      <th style="width: 20px">
                      <button [routerLink]="['../usuario/0/new']" type="submit" class="btn btn-sm btn-primary" style="margin-left: 5px!important">
                        <i class="fa fa-plus"></i> Incluir</button>
                      </th>
                      <th><strong>Nome</strong></th>
                      <th><strong>Apelido</strong></th>
                      <th><strong>E-mail</strong></th>
                      <th style="width:15px"><strong>Situação</strong></th>
                    </tr>
                    <tr>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let item of lista ">
                      <ng-template [ngIf]="true">
                        <tr>
                          <td>
                        <button [routerLink]="['../usuario/'+ item.id_usuario + '/edit']" class="btn btn-sm btn-primary">
                          <i class="fas fa-pencil-alt"></i>
                        </button>&nbsp;
                        <button (click)="ativaInativa(item)" class="btn btn-sm btn-primary">
                          <i class="fas " [ngClass]="{'fa-lock': item.situacao =='A', ' fa-lock-open': item.situacao !='A' }"></i>
                        </button>
                          </td>

                          <td>{{item.nome}}</td>
                          <td>{{item.apelido}}</td>
                          <td>{{item.email}}</td>
                          <td><label class="label label-lg " [ngClass]="{'label-danger': item.situacao!='A', 'label-success': item.situacao=='A' }" ><strong>{{item.camposAuxiliares.tx_situacao}}</strong></label></td>
                        </tr>
                      </ng-template>
                    </ng-container>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="6">
                        <ngb-pagination [(collectionSize)]="paginacao.totalItens" [(pageSize)]="paginacao.itensPorPagina" [(maxSize)]="paginacao.maximoPaginas"
                          [(page)]="paginacao.paginaCorrente" (pageChange)="getPage()" [ellipses]="false" [boundaryLinks]="false"></ngb-pagination>
                      </td>
                    </tr>
                  </tfoot>
                </table>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

