<h3>
  <b class="text-danger">{{nomeGrupo}}</b> ({{periodoStr}})
</h3>
<div class="m-t-1">
  <router-outlet></router-outlet>
</div>

<app-faturamentostp [ListaFaturamento]="listaFaturamento"></app-faturamentostp>

<div class="row" [hidden]="showDetalhe"  *ngIf="false">
  <div class="col-sm-12 " *ngFor="let item of listaFaturamento "   >
    <app-faturamento [principal]="item" [ehdetalhe]="false"  (onStatusChange)="mudaIndicadorPrincipal($event)"  ></app-faturamento>
  </div>



  <div class="col-12">

    <div class="row">
      <div class="col-sm-12 col-lg-4" *ngFor="let item of listaDesempenho ">
        <app-desempenho [desempenho]="item" ></app-desempenho>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12 col-lg-4" *ngFor="let item of listaPrincipal ">
        <app-principal [principal]="item" (onStatusChange)="mudaIndicadorPrincipal($event)"></app-principal>
      </div>

    </div>

   <div class="row">
      <div class="col-sm-12 col-lg-6" *ngIf="listaEstoqueVeiculos.length > 0">
        <app-estoque titulo="Estoque Veiculos (Qtd)" tipo="V" [estoque]="listaEstoqueVeiculos"></app-estoque>
      </div>
      <div class="col-sm-12 col-lg-6"  *ngIf="listaEstoquePecas.length > 0">
        <app-estoque titulo="Estoque Peças (R$)" tipo="P" [estoque]="listaEstoquePecas"></app-estoque>
      </div>
    </div>



  </div>
</div>
