<div
  class="card  border-info"
  style="border-left-color: black;border-left-width: 5px;"
>
  <div class="card-header  bg-white " style="padding: 0.30rem 0.70rem;">
    <div class="mb-0 text-black bg-info">
    <h4    style="padding:5px" class="text-white">{{ item.camposAuxiliares['grupo_departamento'] }}</h4>
  </div>
    <!--   <h4 class="mb-0 mt-2 " style="font-weight: bold;font-size: 14px; " > Resumo {{dados.Titulo}} do Mês</h4>
            <h5 class="mb-0 mt-1 font-italic" style="font-size: 12px;color:#a1aab2 ; ">{{dados.Titulo}} <strong>(até {{ '01/01/2010' | date:'dd/MM' }})</strong></h5>
         -->
  </div>

  <div class="card-body  " style="padding: 0.30rem 0.70rem;margin-bottom:20px">
    <div class="row m-t-10 ">
      <!-- col -->
      <div class="col-sm-6  ">
        <div class="d-flex  align-items-center">
          <div class="m-r-15 iconsResumo">
            <span class="display-7 text-success">
              <i class="fas fa-crosshairs"></i>
            </span>
          </div>
          <div style="width:90%;">
            <div
              class="text-right"
              style="font-weight: bold;font-size: 12px;color:#a1aab2; "
            >
              Meta
            </div>
            <h3
              class="m-b-0  text-right"
              style="font-weight: bold;font-size: 18px; "
            >
              {{dados.meta | number: "1.0-0" }}
            </h3>
          </div>
        </div>
        <hr class="mb-0 mt-2" />
      </div>
      <!-- col -->
      <!-- col -->
      <div class="col-sm-6  " *ngIf="_tipoView === 'QTD'">
        <div class="d-flex  align-items-center">
          <div class="m-r-15 iconsResumo">
            <span class="display-7  text-success" style="color:#a1aab2;">
              <i class="fas fa-crosshairs"></i>
            </span>
          </div>
          <div style="width:90%;">
            <div
              class="text-right"
              style="font-weight: bold;font-size: 12px;color:#a1aab2; "
            >
              Meta diaria
            </div>
            <h3
              class="m-b-0  text-right"
              style="font-weight: bold;font-size: 18px; "
            >
              {{dados.meta_diaria | number: "1.0-0" }}
            </h3>
          </div>
        </div>
        <hr class="mb-0 mt-2" />
      </div>
      <!-- col -->
      <!-- col -->
      <div class="col-sm-6" *ngIf="_tipoView !== 'QTD'">
        <div class="d-flex  align-items-center">
          <div class="m-r-15 iconsResumo">
            <span class="display-7  text-success" style="color:#a1aab2;">
              <i class="fas fa-hand-holding-usd"></i>
            </span>
          </div>
          <div style="width:90%;">
            <div
              class="text-right"
              style="font-weight: bold;font-size: 12px;color:#a1aab2; "
            >
              Ticket Medio
            </div>
            <h3
              class="m-b-0  text-right"
              style="font-weight: bold;font-size: 18px; "
            >
              {{dados.ticket | number: "1.0-0" }}
            </h3>
          </div>
        </div>
        <hr class="mb-0 mt-2" />
      </div>
      <!-- col -->
    </div>

    <div class="row m-t-10 ">
      <!-- col -->
      <div class="col-sm-6  ">
        <div class="d-flex  align-items-center">
          <div class="m-r-15 iconsResumo">
            <span class="display-7  text-success" style="color:#a1aab2;">
              <i
                class="fas  "
                [ngClass]="{
                  'fa-cart-plus': _tipoView === 'QTD',
                  'fa-dollar-sign': _tipoView === 'R$'
                }"
              ></i>
            </span>
          </div>
          <div style="width:90%;">
            <div
              class="text-right"
              style="font-weight: bold;font-size: 12px;color:#a1aab2; "
            >
              {{dados.Titulo }}
            </div>
            <h3
              class="m-b-0  text-right"
              style="font-weight: bold;font-size: 18px; "
            >
              {{dados.valor | number: "1.0-0" }}
            </h3>
            <ngb-progressbar
              [striped]="true"
              showValue="true"
              height="15px"
              type="{{dados.cor_meta }}"
              [value]="dados.percentual_meta"
            ></ngb-progressbar>
          </div>
        </div>
      </div>
      <!-- col -->
      <!-- col -->
      <div class="col-sm-6  ">
        <div class="d-flex  align-items-center">
          <div class="m-r-15 iconsResumo">
            <span class="display-7  text-success" style="color:#a1aab2;">
              <i class="fas  fa-road"></i>
            </span>
          </div>
          <div style="width:90%;">
            <div
              class="text-right"
              style="font-weight: bold;font-size: 12px;color:#a1aab2; "
            >
              Projeção
            </div>
            <h3
              class="m-b-0  text-right"
              style="font-weight: bold;font-size: 18px; "
            >
              {{dados.projecao +dados.valor | number: "1.0-0" }}
            </h3>
            <ngb-progressbar
              [striped]="true"
              showValue="true"
              height="15px"
              type="{{dados.cor_projecao_meta }}"
              [value]="dados.percentual_projecao_meta"
            ></ngb-progressbar>
          </div>
        </div>
      </div>
      <!-- col -->
    </div>
  <!--  <div class="  text-center">
  <a href="javascript:void(0)" class="waves-effect waves-light m-t-10 btn btn-sm btn-info accent-4 m-b-20">View More Details</a>

</div>-->
</div>
</div>
