 <div class="card card-body printableArea"    >
    <h3>
        <b class="text-danger">{{titulo}}</b>
    </h3>
    <h4 class="col-md-12"  >
      <span class="pull-left"  > ( Ultimos {{this.meses+1}} Meses em {{visao}} ) </span>
      <button type="button" class="btn btn-sm btn-info" (click)='mudaVisao()' *ngIf="visao=='R$'">
        <i class=" fas fa-cubes"></i>&nbsp; <strong>Qtd</strong></button>

      <button type="button" class="btn btn-sm btn-info" (click)='mudaVisao()' *ngIf="visao=='QTD'">
        <i class=" fas fa-dollar-sign"></i>&nbsp; <strong>Faturamento</strong></button>

  </h4>

    <div class="row">
        <div class="col-md-12">
            <div echarts [options]="option5"></div>
            </div>

        <div class="col-md-12">
            <div class="table-responsive m-t-40" style="clear: both;">
                <table class="table ">
                    <thead class="bg-info text-white">
                      <tr>
                        <th class="border-top-0 font-bold">Empresa</th>
                        <th class="border-top-0 font-bold">Departamento</th>
                        <th class="border-top-0 font-bold" *ngFor="let key of dadosRetornoRelatorio.cabecalhoVL">{{key}} </th>
                      </tr>
                    </thead>
                    <tbody>

                      <tr *ngFor="let dados of dadosRetornoRelatorio.dados"  >
                        <td class="font-medium">{{dados["empresa"]}} </td>
                        <td class="font-medium">{{dados["departamento"]}} </td>
                        <td class="font-medium text-right" *ngFor="let keycampo of campos ; let i = index">
                          <div class="d-flex " style="text-align: right!important">

                                {{  (dados.camposAuxiliares[keycampo]  | number:'1.0-0')}}
                                <i *ngIf="i!=0" class="mdi text-success" [ngClass]="((dados.camposAuxiliares[campos[i]]*1) >= (dados.camposAuxiliares[campos[i-1]]*1) )?'mdi-arrow-up  text-success':'mdi-arrow-down  text-danger'" data-toggle="tooltip" data-placement="top" title="Active"></i>


                          </div>
                        </td>
                      </tr>



                    </tbody>
                  </table>
            </div>
        </div>
        <div class="col-md-12">
            <div class="text-right">
                <button class="btn btn-danger"   (click)="goBack()"  type="button"> Voltar </button>
            </div>
        </div>
    </div>
</div>
