.btn i {
    margin-right: 0px;
}
.squeezebox .sb-item {
    overflow: hidden;
  }
  .squeezebox .sb-item .sb-item-body {
    height: 0;
    overflow: hidden;
    transition: 0.5s height;
  }

.ng-select.custom {
    font-size: 1rem!important;
    line-height: 1.25!important;
    color: #495057!important;
    background-color: #fff!important;
    background-image: none!important;
    background-clip: padding-box!important;
    border: 1px solid rgba(0,0,0,.15)!important;
    min-height: 0px!important;
    border-radius:  .25rem!important;
    padding: .0rem .0rem !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;

}
.ng-select.custom .ng-select-container  {
    min-height: 0px;
    border-radius: 0;
}



.ng-select.form-control-sm {
  padding: 0px 0px !important;
}


.form-control.ng-invalid {     border-left:5px solid red; }


