<div class="row">
    <div class="col-12">
        <h3 class="m-b-15">{{tituloPagina}}</h3>
        <!-- Row -->
        <div class="row">
            <!-- column -->
            <div class="col-lg-3 col-md-6" *ngFor="let item of lista">
                <!-- Card -->
                <div class="card" style="icon">
                    <p class="text-center m-t-0 font-12">
                        <img class="card-img-top img-responsive" style="height: 120px; width: 120px"
                            src="assets/images/logo/{{item.ques_tx_logo_empresa}}" alt="Card image cap">
                    </p>
                    <div class="card-body">
                        <h4 class="card-title">{{item.ques_tx_descricao}}</h4>
                        <a [routerLink]="'perguntaquestionario/' + item.ques_nr_sequencia" class="btn btn-primary">Ir
                            para questionário</a>
                    </div>
                </div>
                <!-- Card -->
            </div>

        </div>
        <!-- Row -->
    </div>
</div>